:root {
  --ke-yellow: #ffc107;
  --ke-gray: #d8d8d8;
  --ke-black: #212529;
  --ke-red: #dc3545;
}
body {
  background-color: var(--ke-gray);
  color: var(--ke-black);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bg-red {
  background-color: var(--ke-red);
}
.bg-yellow {
  background-color: var(--ke-yellow);
}
.bg-gray {
  background-color: var(--ke-gray);
}
.logo {
  color: #ffc107;
  font-size: 30px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 18px;
}
.heading {
  color: #ffc107;
  font-size: 45px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.hero_con {
  padding: 2vw 30px 2vw 30px;
}
.text-gray {
  color: #d8d8d8;
}
.text-yellow {
  color: #ffc107;
}
.text-red {
  color: #dc3545;
}
.ubuntu-font {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  position: absolute;
}
.bubble-dark {
  color: #d8d8d8;
  position: static;
  padding: 8px 7px 5px 7px;
  margin: 8.5vw 50px;
}
.tool-kit {
  margin: 30px 50px;
}
.tool-kit i {
  color: #d8d8d8;
  font-size: 2.5vw;
  position: -ms-page;
}
.tool-kit span {
  color: #d8d8d8;
  font-size: 1vw;
}
